In [6]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [4]:
my_df = pd.read_csv('HTE_dataset_PC_EMC_EC_LiPF6.csv', sep="\t")
my_df

      Unnamed: 0   T [K]      r  c [mol/kg]  k [mS/cm]
0              0  243.15  1.000       0.615      1.883
1              1  253.15  1.000       0.615      2.632
2              2  263.15  1.000       0.615      3.463
3              3  273.15  1.000       0.615      4.313
4              4  283.15  1.000       0.615      5.226
...          ...     ...    ...         ...        ...
3621        3621  293.15  0.598       0.400      4.891
3622        3622  303.15  0.598       0.400      5.621
3623        3623  313.15  0.598       0.400      6.371
3624        3624  323.15  0.598       0.400      7.085
3625        3625  333.15  0.598       0.400      7.761

[3626 rows x 5 columns]

In [5]:
my_df = my_df[['T [K]',	'r','c [mol/kg]','k [mS/cm]']].copy(deep=True)
my_df

       T [K]      r  c [mol/kg]  k [mS/cm]
0     243.15  1.000       0.615      1.883
1     253.15  1.000       0.615      2.632
2     263.15  1.000       0.615      3.463
3     273.15  1.000       0.615      4.313
4     283.15  1.000       0.615      5.226
...      ...    ...         ...        ...
3621  293.15  0.598       0.400      4.891
3622  303.15  0.598       0.400      5.621
3623  313.15  0.598       0.400      6.371
3624  323.15  0.598       0.400      7.085
3625  333.15  0.598       0.400      7.761

[3626 rows x 4 columns]

In [7]:
scaler = StandardScaler(with_mean=False)
new_df = scaler.fit_transform(my_df[['T [K]',	'r','c [mol/kg]']])

In [11]:
new_df = pd.DataFrame(new_df, columns= ['T [K]',	'r','c [mol/kg]'])
new_df['k [mS/cm]'] = my_df['k [mS/cm]']

In [12]:
new_df.to_csv('./standardized_dataset.csv',sep=',', index=False)